/* Reserve Button Style */
.reserve-btn {
  background: linear-gradient(135deg, #054d07, #4ee344);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.reserve-btn:hover {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  transform: translateY(-2px);
}

/* Cancel Button Style */
.cancel-btn {
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
  color: white;
  padding: 0.4rem 1.2rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 30px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cancel-btn:hover {
  background: linear-gradient(135deg, #e14a58, #e1a857);
  transform: translateY(-2px);
}
